@use "sass:map";

@import "@/style/variables/default-variables";
@import "@/style/functions/set-root-size";
@import "@/style/mixins/set-font-sizes";

.bitcoin-rate {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  background-color: var(--base-block-bg, map.get($colors, "base-block-bg"));
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name-sign {
    @include set-font-sizes(24);
    font-weight: 800;
  }

  &__main {
    max-height: 250px;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__line-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  &__info-name {
    font-size: 18px;
    font-weight: 600;
  }

  &__current-price {
    @include set-font-sizes(16);
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color .1s ;
  }
  &__current-price--process {
    background-color: red;
  }

  &__no-options {
  }
  &__loading {
  }
  &__controls {
  }
}
